#vthumbnail {
    width: 100%!important;
    height: 100%!important;
    overflow: hidden;
}

#vthumbnail svg {
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}

vheader {
    position: fixed;
    top: 0;
    left: 15px;
}

#vtitle {
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

#vurl a {
    color: #fff!important;
    text-shadow: 2px 2px 4px #000000;
}